<footer class="footer bg-dark py-3 mt-auto">
    <div class="container text-center">
        <span class="text-muted">&copy; <script>document.write(new Date().getFullYear())</script> goCamping</span>
    </div>

</footer>